/test/test1/test_1/nbproject/private/
/test/test1/test_1/build/
/test/test1/test_1/dist/
/test/test2/test_2/nbproject/private/
/test/test2/test_2/dist/
/test/test2/test_2/build/
/egwwinlogon/dist/
/php/elogin/nbproject/private/
/egwwinlogon/build/